<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:section name="Partition">

	<div class="row">
		<div class="col-md-4">
			<f:if condition="{object.composer}">
				<div>
					<span>Compositeur</span>
					<br/>
					<strong>{object.composer}</strong>
				</div>
				<br/>
			</f:if>
			<f:if condition="{object.composerOrigin}">
				<div>
					<span>Compositeur (orig.)</span>
					<br/>
					<strong>{object.composerOrigin}</strong>
				</div>
				<br/>
			</f:if>
			<f:if condition="{object.yearOfComposition}">
				<div>
					<span>Année de Composition</span>
					<br/>
					<strong>{object.yearOfComposition}</strong>
				</div>
				<br/>
			</f:if>
			<f:if condition="{object.formation}">
				<div>
					<span>Formation</span>
					<br/>
					<strong>{object.formation}</strong>
				</div>
				<br/>
			</f:if>
			<f:if condition="{object.voice}">
				<div>
					<span>Voix</span>
					<br/>
					<strong>{object.voice}</strong>
				</div>
				<br/>
			</f:if>
			<f:if condition="{object.duration}">
				<div>
					<span>Durée</span>
					<br/>
					<strong>{object.duration}</strong>
				</div>
				<br/>
			</f:if>
			<f:if condition="{object.theme}">
				<div>
					<span>Thème</span>
					<br/>
					<strong>{object.theme}</strong>
				</div>
				<br/>
			</f:if>
			<f:if condition="{object.modificationDate}">
				<div>
					<span>Date modification</span>
					<br/>
					<strong>{object.modificationDate}</strong>
				</div>
				<br/>
			</f:if>
		</div>

		<div class="col-md-4">
			<f:if condition="{object.author}">
				<div>
					<span>Auteur</span>
					<br/>
					<strong>{object.author}</strong>
				</div>
				<br/>
			</f:if>
			<f:if condition="{object.arranger}">
				<div>
					<span>Arrangeur</span>
					<br/>
					<strong>{object.arranger}</strong>
				</div>
				<br/>
			</f:if>
			<f:if condition="{object.publicationYear}">
				<div>
					<span>Année publication</span>
					<br/>
					<strong>{object.publicationYear}</strong>
				</div>
				<br/>
			</f:if>
			<f:if condition="{object.editor}">
				<div>
					<span>Editeurs</span>
					<br/>
					<strong>{object.editor}</strong>
				</div>
				<br/>
			</f:if>
			<f:if condition="{object.reference}">
				<div>
					<span>Référence</span>
					<br/>
					<strong>{object.reference}</strong>
				</div>
				<br/>
			</f:if>
			<f:if condition="{object.categories}">
				<div>
					<span>Catégories</span>
					<br/>
					<ul>
						<f:for each="{object.categories}" as="category">
							<li><strong>{category.title}</strong></li>
						</f:for>
					</ul>
				</div>
				<br/>
			</f:if>
			<f:if condition="{object.remark}">
				<div>
					<span>Remarque (non mus.)</span>
					<br/>
					<strong>{object.remark}</strong>
				</div>
			</f:if>
		</div>


		<div class="col-md-4">
			<f:if condition="{object.liturgicalSeason}">
				<div>
					<span>Temps liturgique</span>
					<br/>
					<strong>{object.liturgicalSeason}</strong>
				</div>
				<br/>
			</f:if>
			<f:if condition="{object.liturgyFunction}">
				<div>
					<span>Fonction liturgique</span>
					<br/>
					<strong>{object.liturgyFunction}</strong>
				</div>
				<br/>
			</f:if>
			<f:if condition="{object.accompaniment}">
				<div>
					<span>Accompagnement</span>
					<br/>
					<strong>{object.accompaniment}</strong>
				</div>
				<br/>
			</f:if>
			<f:if condition="{object.writingQuality}">
				<div>
					<span>Qualité d'écricure</span>
					<br/>
					<strong>{object.writingQuality}</strong>
				</div>
				<br/>
			</f:if>
			<f:if condition="{object.commentDifficulty}">
				<div>
					<span>Commentaire</span>
					<br/>
					<strong>{object.commentDifficulty}</strong>
				</div>
				<br/>
			</f:if>
			<f:if condition="{object.difficulty}">
				<div>
					<span>Difficulté</span>
					<br/>
					<strong>{object.difficulty}</strong>
				</div>
				<br/>
			</f:if>
			<f:if condition="{object.commentWritingQuality}">
				<div>
					<span>Commentaire</span>
					<br/>
					<strong>{object.commentWritingQuality}</strong>
				</div>
			</f:if>
		</div>

	</div>

	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">Téléchargement</h3>
		</div>
		<div class="panel-body">
			<br/>
			<a href="#">
				<span>[Télécharger partition pdf]</span>
			</a>
			<br/>
		</div>
	</div>
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">Enregistrement concert</h3>
		</div>
	</div>
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">Enregistrement XYZ</h3>
		</div>
		<div class="panel-body">
			<span>
			<object type="application/x-shockwave-flash" data="/typo3conf/ext/partitions/Resources/Public/Media/dewplayer.swf"
			        width="200" height="20" id="dewplayer"
			        name="dewplayer">
				<param name="movie" value="dewplayer.swf"/>
				<param name="flashvars" value="mp3=/typo3conf/ext/partitions/Resources/Public/Media/test1.mp3"/>
				<param name="wmode" value="transparent"/>
			</object>
			</span>
			<br/>
			<span> Réalisé par Erwin Nussbaumer</span>
		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Clément Christian</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-4">
					<div>
						<strong>Ténor</strong>
					</div>

					<div>
						<strong>Basse</strong>
					</div>

					<div>
						<strong>Toutes</strong>
					</div>

				</div>

				<div class="col-md-4">
					<div>
						<a href="#">
							<span>Écouter</span>
						</a>
					</div>

					<div>
						<a href="#">
							<span>Écouter</span>
						</a>
					</div>

					<div>
						<a href="#">
							<span>Écouter</span>
						</a>
					</div>
				</div>


				<div class="col-md-4">
					<div>
						<a href="#">
							<span>Télécharger</span>
						</a>
					</div>

					<div>
						<a href="#">
							<span>Télécharger</span>
						</a>
					</div>

					<div>
						<a href="#">
							<span>Télécharger</span>
						</a>
					</div>
				</div>
			</div>

		</div>
	</div>


	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Francey Vincent</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-4">
					<div>
						<strong>Ténor</strong>
					</div>

					<div>
						<strong>Basse</strong>
					</div>

					<div>
						<strong>Toutes</strong>
					</div>

				</div>

				<div class="col-md-4">
					<div>
						<a href="#">
							<span>Écouter</span>
						</a>
					</div>

					<div>
						<a href="#">
							<span>Écouter</span>
						</a>
					</div>

					<div>
						<a href="#">
							<span>Écouter</span>
						</a>
					</div>
				</div>


				<div class="col-md-4">
					<div>
						<a href="#">
							<span>Télécharger</span>
						</a>
					</div>

					<div>
						<a href="#">
							<span>Télécharger</span>
						</a>
					</div>

					<div>
						<a href="#">
							<span>Télécharger</span>
						</a>
					</div>
				</div>
			</div>

		</div>
	</div>


	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Clément Christian</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-4">
					<div>
						<strong>Ténor</strong>
					</div>

					<div>
						<strong>Basse</strong>
					</div>

					<div>
						<strong>Toutes</strong>
					</div>

				</div>

				<div class="col-md-4">
					<div>
						<a href="#">
							<span>Écouter</span>
						</a>
					</div>

					<div>
						<a href="#">
							<span>Écouter</span>
						</a>
					</div>

					<div>
						<a href="#">
							<span>Écouter</span>
						</a>
					</div>
				</div>

				<div class="col-md-4">
					<div>
						<a href="#">
							<span>Télécharger</span>
						</a>
					</div>

					<div>
						<a href="#">
							<span>Télécharger</span>
						</a>
					</div>

					<div>
						<a href="#">
							<span>Télécharger</span>
						</a>
					</div>
				</div>
			</div>

		</div>
	</div>


	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Clément Christian</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-4">
					<div>
						<strong>Ténor</strong>
					</div>

					<div>
						<strong>Basse</strong>
					</div>

					<div>
						<strong>Toutes</strong>
					</div>

				</div>

				<div class="col-md-4">
					<div>
						<a href="#">
							<span>Écouter</span>
						</a>
					</div>

					<div>
						<a href="#">
							<span>Écouter</span>
						</a>
					</div>

					<div>
						<a href="#">
							<span>Écouter</span>
						</a>
					</div>
				</div>


				<div class="col-md-4">
					<div>
						<a href="#">
							<span>Télécharger</span>
						</a>
					</div>

					<div>
						<a href="#">
							<span>Télécharger</span>
						</a>
					</div>

					<div>
						<a href="#">
							<span>Télécharger</span>
						</a>
					</div>
				</div>
			</div>

		</div>
	</div>


	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Francey Vincent</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-4">
					<div>
						<strong>Ténor</strong>
					</div>

					<div>
						<strong>Basse</strong>
					</div>

					<div>
						<strong>Toutes</strong>
					</div>

				</div>

				<div class="col-md-4">
					<div>
						<a href="#">
							<span>Écouter</span>
						</a>
					</div>

					<div>
						<a href="#">
							<span>Écouter</span>
						</a>
					</div>

					<div>
						<a href="#">
							<span>Écouter</span>
						</a>
					</div>
				</div>


				<div class="col-md-4">
					<div>
						<a href="#">
							<span>Télécharger</span>
						</a>
					</div>

					<div>
						<a href="#">
							<span>Télécharger</span>
						</a>
					</div>

					<div>
						<a href="#">
							<span>Télécharger</span>
						</a>
					</div>
				</div>
			</div>

		</div>
	</div>


	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Clément Christian</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-4">
					<div>
						<strong>Ténor</strong>
					</div>

					<div>
						<strong>Basse</strong>
					</div>

					<div>
						<strong>Toutes</strong>
					</div>

				</div>

				<div class="col-md-4">
					<div>
						<a href="#">
							<span>Écouter</span>
						</a>
					</div>

					<div>
						<a href="#">
							<span>Écouter</span>
						</a>
					</div>

					<div>
						<a href="#">
							<span>Écouter</span>
						</a>
					</div>
				</div>


				<div class="col-md-4">
					<div>
						<a href="#">
							<span>Télécharger</span>
						</a>
					</div>

					<div>
						<a href="#">
							<span>Télécharger</span>
						</a>
					</div>

					<div>
						<a href="#">
							<span>Télécharger</span>
						</a>
					</div>
				</div>
			</div>

		</div>
	</div>
	</f:section>

</div>
