.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}
.row1 {
	margin-top: 40px;
	padding: 0 10px;
}
.clickable {
	cursor: pointer;
}
.panel-success{
	width: 300px;
	float: left;
	margin-right:10px;
}
.panel-primary{
	width: 300px;
	float: left;
	margin-right:10px;
}